@{
    ViewData["Title"] = "QR Kod Üretici";
}

<h2>QR Kod Üretici</h2>

<form asp-action="Index" method="post">
    <input type="text" name="userInput" placeholder="Metin giriniz" class="form-control" required />
    <button type="submit" class="btn btn-primary mt-2">QR Kod Üret</button>
</form>

@if (ViewBag.QrCodeSvg != null)
{
    <h3>Sonuç:</h3>
    <div>@Html.Raw(ViewBag.QrCodeSvg)</div>
}
