@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Mega Endüstri Kontrol Sistemleri Tic. Ltd. Şti.</h1>
    <p>
        “Mega Endüstri Kontrol Sistemleri Tic. Ltd. Şti.” şirketi uzun yıllardır sektörde olan köklü bir şirkettir. Şirket Ankara’nın Çankaya ilçesinde, Çayyolu’nun Yaşamkent mahallesinde 6 nolu sokakta bulunur. Mega Endüstri Kontrol Sistemleri Tic. Ltd. Şti., 6 Ağustos 1997 tarihinde Ankara'da kurulmuştur. Şirkette CEO ve Genel Müdür olarak Derya Toprak görev yapmaktadır.
        <br />
        Şirket, petrol ve doğalgaz endüstrisine yönelik otomasyon sistemleri, kontrol sistemleri ve kalibrasyon çözümleri geliştirmekte ve uygulamaktadır. Faaliyet alanları arasında tanker dolum ve boşaltım sistemleri, PLC ve SCADA uygulamaları, sayaç kalibrasyon sistemleri, doğalgaz basınç düşürücü ve ölçüm istasyonları, veritabanı yönetim sistemleri gibi projeler bulunmaktadır. Mega Endüstri, araştırma ve tasarım odaklı bir yaklaşım benimseyerek, temsilcisi olduğu dünyanın önde gelen firmaların ürünlerini kendi yazılım teknolojisiyle birleştirerek anahtar teslim projeler sunmaktadır. Şirket, kalite, iş sağlığı ve güvenliği, çevre politikaları ve bilgi güvenliği gibi alanlarda da güçlü bir taahhüt sergilemektedir.
    </p>
</div>