@{
    ViewData["Title"] = "Giriş";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 10vh;">
    <div class="card shadow p-4" style="width: 400px;">
        <h2 class="text-center mb-4">Kayıt</h2>
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Kullanıcı Adı</label>
                <input name="username" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input name="password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary w-100">Kaydet</button>
        </form>
    </div>
</div>
